.app{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
    color:rgba(255,255,255,.8);
    background-color: #4a99cc;
    background: linear-gradient(
        45deg,
        #4a5ccc 30%,
        #3fc8b1 100%
    );
    box-shadow: 0px -3px 10px rgba(0,0,0,0.2) inset;
    p{
        padding-bottom: 10px;
    }
    a{
        height: 30px;
        width: 200px;
        line-height: 30px;
        display: inline-block;
        text-decoration:none;
        padding: 5px;
        background: rgba(255,255,255,.3);
        color:rgba(255,255,255,.8);
        margin-bottom: 50px;
    }
}